
.frame-22,
.frame-22 * {
  box-sizing: border-box;
  margin-top: 0px;
}
.frame-22 {
  background: #ffffff;
  width: 1600px;
  height: 10000px;
  position: relative;
  overflow: hidden;
}
.main-in {
  position: absolute;
  inset: 0;
}
.baner_divbox {
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 100px;
  background-color: #342a26;
  /* left: 305.05px; */
  overflow: visible;
}
.best-menu-2 {
  width: 1000px;
  height: 848px;
   position: relative;
    top: 720px; /* 위쪽으로 20px 이동 */
    left: 10px; /* 왼쪽으로 10px 이동 */
  left: 50px;
  top: 3250px;
  background-color: red;
}
._2 {
  width: 800px;
  height: 869.53px;
  position: absolute;
  left: 959px;
  top: 1300px;
  background-color: aqua;
  overflow: visible;
}
._22 {
  width: 571.26px;
  height: 680px;
  position: absolute;
  top: 1300px;
  left: -50;
  background-color: rebeccapurple;

}



.div2 {
  width: 571.21px;
  height: 430.02px;
  position: absolute;
  left: 305.05px;
  top: 3983px;
  overflow: visible;
  background-color: rebeccapurple;

}
.abcdefgefghijk {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 43px;
  font-weight: 700;
  position: absolute;
  left: 305px;
  top: 4446.24px;
  width: 453.58px;
  height: 57.91px;
}
.div3 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 4520px;
  width: 440px;
  height: 46px;
}
.shop-more {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 4614px;
  width: 227px;
  height: 49px;
}
.div4 {
  width: 571.21px;
  height: 430.02px;
  position: absolute;
  left: 305.05px;
  top: 4717px;
  overflow: visible;
}
.abcdefgefghijk2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 43px;
  font-weight: 700;
  position: absolute;
  left: 305px;
  top: 5180.24px;
  width: 453.58px;
  height: 57.91px;
}
.div5 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 5254px;
  width: 440px;
  height: 46px;
}
.shop-more2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 5348px;
  width: 227px;
  height: 49px;
}
.div6 {
  width: 571.21px;
  height: 430.02px;
  position: absolute;
  left: 305.05px;
  top: 5451px;
  overflow: visible;
}
.abcdefgefghijk3 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 43px;
  font-weight: 700;
  position: absolute;
  left: 305px;
  top: 5914.24px;
  width: 453.58px;
  height: 57.91px;
}
.div7 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 5988px;
  width: 440px;
  height: 46px;
}
.shop-more3 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 6082px;
  width: 227px;
  height: 49px;
}
.best-menu {
  width: 1669px;
  height: 936.16px;
  position: relative;
  top: -990px; /* 위쪽으로 20px 이동 */
  left: 10px; /* 왼쪽으로 10px 이동 */
}
._1 {
  width: 964.98px;
  height: 870px;
  position: absolute;
  left: 0px;
  top: 2638.05px;
  overflow: visible;
}
.div8 {
  width: 215.33px;
  height: 362.62px;
  position: absolute;
  left: 1125px;
  top: 3073px;
  overflow: visible;
}
.div9 {
  width: 215.33px;
  height: 362.62px;
  position: absolute;
  left: 1447px;
  top: 3073px;
  overflow: visible;
}
.best-menu2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 65px;
  font-weight: 700;
  position: absolute;
  left: 1062px;
  top: 2785px;
  width: 424px;
  height: 79px;
}
.abcdefgefghijk4 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 1118px;
  top: 3492.21px;
  width: 229px;
  height: 34px;
}
.abcdefgefghijk5 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 1440px;
  top: 3492.21px;
  width: 229px;
  height: 34px;
}
.abcdefg {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1186px;
  top: 3551.43px;
  width: 93.71px;
  height: 22.78px;
}
.abcdefg2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  left: 1508px;
  top: 3551.43px;
  width: 93.71px;
  height: 22.78px;
}
.abcdefgefgefdfdfsfdadffddfsd {
  color: #535353;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  left: 1062px;
  top: 2891px;
  width: 547px;
  height: 34px;
}
.product {
  width: 1422.04px;
  /* height: 660.69px; */
  position: relative;
  top: -820px; /* 위쪽으로 20px 이동 */
  left: 10px; /* 왼쪽으로 10px 이동 */
}
.frame-18 {
  background: #999999;
  border-radius: 20px;
  padding: 8px 50px 8px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 934px;
  top: 1755.34px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.all {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame-19 {
  background: #d1ccbd;
  border-radius: 20px;
  padding: 8px 50px 8px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1089.38px;
  top: 1755.34px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.skin {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame-20 {
  background: #d1ccbd;
  border-radius: 20px;
  padding: 8px 50px 8px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1254.38px;
  top: 1755.34px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.body {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame-21 {
  background: #d1ccbd;
  border-radius: 20px;
  padding: 8px 50px 8px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1429.38px;
  top: 1755.34px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.make-up {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.product2 {
  color: #999999;
  text-align: left;
  font-family: "NotoSans-DisplayBold", sans-serif;
  font-size: 63px;
  font-weight: 400;
  position: absolute;
  left: 199.38px;
  top: 1715.46px;
  width: 257.2px;
  height: 80.69px;
}
.div10 {
  width: 270.16px;
  height: 100px;
  position: static;
}
._23 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332.24px;
  position: absolute;
  left: 423px;
  top: 1876.84px;
}
._24 {
  background: #535353;
  width: 116.64px;
  height: 13.29px;
  position: absolute;
  left: 423px;
  top: 2362.87px;
}
.abcdefghijklm {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 423px;
  top: 2229.97px;
  width: 258.19px;
  height: 34.17px;
}
.abcdefghijklm2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 423px;
  top: 2264.14px;
  width: 258.19px;
  height: 34.17px;
}
.abcdef {
  color: #535353;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 423px;
  top: 2318.25px;
  width: 119.63px;
  height: 34.17px;
}
.frame-11 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332px;
  position: absolute;
  left: 423px;
  top: 1877.05px;
  overflow: hidden;
}
._25 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332.24px;
  position: absolute;
  left: 732.42px;
  top: 1876.84px;
}
._26 {
  background: #535353;
  width: 116.64px;
  height: 13.29px;
  position: absolute;
  left: 732.42px;
  top: 2362.87px;
}
.abcdefghijklm3 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 732.42px;
  top: 2229.97px;
  width: 258.19px;
  height: 34.17px;
}
.abcdefghijklm4 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 732.42px;
  top: 2264.14px;
  width: 258.19px;
  height: 34.17px;
}
.abcdef2 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 732.42px;
  top: 2318.25px;
  width: 119.63px;
  height: 34.17px;
}
.frame-112 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332px;
  position: absolute;
  left: 732.42px;
  top: 1877.05px;
  overflow: hidden;
}
._27 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332.24px;
  position: absolute;
  left: 1041.84px;
  top: 1876.84px;
}
._28 {
  background: #535353;
  width: 116.64px;
  height: 13.29px;
  position: absolute;
  left: 1041.84px;
  top: 2362.87px;
}
.abcdefghijklm5 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 1041.84px;
  top: 2229.97px;
  width: 258.19px;
  height: 34.17px;
}
.abcdefghijklm6 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 1041.84px;
  top: 2264.14px;
  width: 258.19px;
  height: 34.17px;
}
.abcdef3 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 1041.84px;
  top: 2318.25px;
  width: 119.63px;
  height: 34.17px;
}
.frame-113 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332px;
  position: absolute;
  left: 1041.84px;
  top: 1877.05px;
  overflow: hidden;
}
._29 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332.24px;
  position: absolute;
  left: 1351.26px;
  top: 1876.84px;
}
._210 {
  background: #535353;
  width: 116.64px;
  height: 13.29px;
  position: absolute;
  left: 1351.26px;
  top: 2362.87px;
}
.abcdefghijklm7 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 1351.26px;
  top: 2229.97px;
  width: 258.19px;
  height: 34.17px;
}
.abcdefghijklm8 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 1351.26px;
  top: 2264.14px;
  width: 258.19px;
  height: 34.17px;
}
.abcdef4 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 1351.26px;
  top: 2318.25px;
  width: 119.63px;
  height: 34.17px;
}
.frame-114 {
  background: #e5e5e5;
  width: 270.16px;
  height: 332px;
  position: absolute;
  left: 1351.26px;
  top: 1877.05px;
  overflow: hidden;
}
